# Auto detect text files and perform LF normalization
* text=auto

# Exclude files from release export
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
pkgmeta.yaml export-ignore
