<?xml version="1.0" encoding="UTF-8"?>
<Forms>
    <Form Class="Window" LAnchorPoint="0" LAnchorOffset="5" TAnchorPoint="0" TAnchorOffset="5" RAnchorPoint="0" RAnchorOffset="600" BAnchorPoint="0" BAnchorOffset="400" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Settings" Border="1" Picture="1" SwallowMouseClicks="1" Moveable="1" Escapable="0" Overlapped="1" TooltipColor="" Tooltip="" Visible="1">
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="-5" TAnchorPoint="0" TAnchorOffset="-5" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Background" TooltipColor="" Sprite="CRB_TooltipSprites:sprTT_BasicBack" Picture="1" IgnoreMouse="1" Border="1"/>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="5" TAnchorPoint="0" TAnchorOffset="5" RAnchorPoint="1" RAnchorOffset="-5" BAnchorPoint="0" BAnchorOffset="35" RelativeToClient="1" Font="CRB_Header14_O" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_TextHoloTitle" Template="Default" TooltipType="OnCursor" Name="Header" TooltipColor="" TextId="Launcher_RemoveSettings" DT_VCENTER="1" DT_CENTER="1"/>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="10" TAnchorPoint="0" TAnchorOffset="55" RAnchorPoint="0.5" RAnchorOffset="-2" BAnchorPoint="1" BAnchorOffset="-55" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Left" TooltipColor="" Tooltip="">
            <Control Class="Button" Base="BK3:btnHolo_Check" Font="DefaultButton" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="30" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnEnable" TooltipColor="" DrawAsCheckbox="1" Text="___enabled___" TextId="" RadioAlwaysSignal="0">
                <Event Name="ButtonCheck" Function="OnBtnEnable"/>
                <Event Name="ButtonUncheck" Function="OnBtnEnable"/>
            </Control>
            <Control Class="Button" Base="BK3:btnHolo_Check" Font="DefaultButton" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="30" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="60" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnLock" TooltipColor="" DrawAsCheckbox="1" Text="___lockWindow___" TextId="" RadioAlwaysSignal="0">
                <Event Name="ButtonCheck" Function="OnBtnLock"/>
                <Event Name="ButtonUncheck" Function="OnBtnLock"/>
            </Control>
            <Control Class="Button" Base="BK3:btnHolo_Check" Font="DefaultButton" ButtonType="Check" RadioGroup="Threat_Colors" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="60" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="90" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnClassColors" TooltipColor="" Text="___useClassColors___" TextId="" DrawAsCheckbox="1" RadioAlwaysSignal="1" GlobalRadioGroup="">
                <Event Name="ButtonCheck" Function="OnBtnClassColors"/>
                <Event Name="ButtonUncheck" Function="OnBtnClassColors"/>
            </Control>
            <Control Class="Button" Base="BK3:btnHolo_Check" Font="DefaultButton" ButtonType="Check" RadioGroup="Threat_Colors" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="90" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="120" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnRoleColors" TooltipColor="" Text="___useRoleColors___" TextId="" DrawAsCheckbox="1" RadioAlwaysSignal="1" GlobalRadioGroup="">
                <Event Name="ButtonCheck" Function="OnBtnRoleColors"/>
                <Event Name="ButtonUncheck" Function="OnBtnRoleColors"/>
            </Control>
            <Control Class="Button" Base="BK3:btnHolo_Check" Font="DefaultButton" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="120" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="150" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnShowSolo" TooltipColor="" Text="___showWhenSolo___" TextId="" DrawAsCheckbox="1" RadioAlwaysSignal="1">
                <Event Name="ButtonCheck" Function="OnBtnShowSolo"/>
                <Event Name="ButtonUncheck" Function="OnBtnShowSolo"/>
            </Control>
            <Control Class="Button" Base="BK3:btnHolo_Check" Font="DefaultButton" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="150" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="180" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnShowDifferences" TooltipColor="" Text="___showDifferences___" TextId="" DrawAsCheckbox="1" RadioAlwaysSignal="1">
                <Event Name="ButtonCheck" Function="OnBtnShowDifferences"/>
                <Event Name="ButtonUncheck" Function="OnBtnShowDifferences"/>
            </Control>
        </Control>
        <Control Class="Window" LAnchorPoint="0.5" LAnchorOffset="2" TAnchorPoint="0" TAnchorOffset="30" RAnchorPoint="1" RAnchorOffset="-10" BAnchorPoint="1" BAnchorOffset="-55" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Right" TooltipColor="">
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="25" RelativeToClient="1" Font="CRB_Header12_O" Text="___colors___" BGColor="UI_WindowBGDefault" TextColor="UI_TextHoloTitle" Template="Default" TooltipType="OnCursor" Name="HdrColor" TooltipColor="" TextId="" DT_VCENTER="1" DT_CENTER="1"/>
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="25" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="LstColorBackground" TooltipColor="" Sprite="BK3:UI_BK3_Holo_InsetFlyout" Border="1" IgnoreMouse="1" Picture="1"/>
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="5" TAnchorPoint="0" TAnchorOffset="30" RAnchorPoint="1" RAnchorOffset="-5" BAnchorPoint="1" BAnchorOffset="-5" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="LstColor" TooltipColor="" VScroll="1" IgnoreMouse="1" AutoHideScroll="0" Tooltip=""/>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="5" TAnchorPoint="1" TAnchorOffset="-50" RAnchorPoint="1" RAnchorOffset="-5" BAnchorPoint="1" BAnchorOffset="-5" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Bottom" TooltipColor="">
            <Control Class="Button" Base="BK3:btnHolo_Blue_Med" Font="DefaultButton" ButtonType="PushButton" RadioGroup="" LAnchorPoint="1" LAnchorOffset="-200" TAnchorPoint="0" TAnchorOffset="-13" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="10" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnClose" TooltipColor="" Text="" TextId="CRB_Close" Tooltip="">
                <Event Name="ButtonSignal" Function="Close"/>
            </Control>
            <Control Class="Button" Base="BK3:btnHolo_Blue_Med" Font="DefaultButton" ButtonType="PushButton" RadioGroup="" LAnchorPoint="1" LAnchorOffset="-385" TAnchorPoint="0" TAnchorOffset="-13" RAnchorPoint="1" RAnchorOffset="-185" BAnchorPoint="1" BAnchorOffset="10" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnReset" TooltipColor="" Text="___resetToDefaults___" TextId="">
                <Event Name="ButtonSignal" Function="OnBtnReset"/>
            </Control>
            <Control Class="Button" Base="BK3:btnHolo_Blue_Med" Font="DefaultButton" ButtonType="PushButton" RadioGroup="" LAnchorPoint="1" LAnchorOffset="-570" TAnchorPoint="0" TAnchorOffset="-13" RAnchorPoint="1" RAnchorOffset="-370" BAnchorPoint="1" BAnchorOffset="10" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnTest" TooltipColor="" Text="___showTestBars___" TextId="">
                <Event Name="ButtonSignal" Function="OnBtnTest"/>
            </Control>
        </Control>
    </Form>
    <Form Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="34" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Color" Border="1" Picture="1" SwallowMouseClicks="1" Moveable="1" Escapable="1" Overlapped="1" TooltipColor="" Tooltip="">
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="5" TAnchorPoint="0" TAnchorOffset="3" RAnchorPoint="0" RAnchorOffset="28" BAnchorPoint="1" BAnchorOffset="-3" RelativeToClient="1" Font="Default" Text="" BGColor="AddonError" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="ColorBackground" TooltipColor="" Picture="1" IgnoreMouse="1" Sprite="BasicSprites:WhiteFill"/>
        <Control Class="Button" Base="ActionSetBuilder_TEMP:btn_TEMP_ThinFrameBtn_Hollow" Font="DefaultButton" ButtonType="PushButton" RadioGroup="" LAnchorPoint="0" LAnchorOffset="-3" TAnchorPoint="0" TAnchorOffset="-5" RAnchorPoint="0" RAnchorOffset="40" BAnchorPoint="1" BAnchorOffset="5" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="BtnChoose" TooltipColor="">
            <Event Name="ButtonSignal" Function="OnBtnChoose"/>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="40" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" RelativeToClient="1" Font="Default" Text="Color Name" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Name" TooltipColor="" DT_VCENTER="1" DT_CENTER="1" TextId=""/>
    </Form>
    <Form Class="Window" LAnchorPoint="0" LAnchorOffset="40" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="10" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Divider" Border="1" Picture="1" SwallowMouseClicks="1" Moveable="0" Escapable="0" Overlapped="1" TooltipColor="" Tooltip="" Sprite="CRB_Tooltips:sprTooltip_HorzDividerLine"/>
</Forms>
